---
- name: Ensure data folder is exists
  become: true
  ansible.builtin.file:
    dest: "{{ linux_vaultwarden_home_directory }}/data"
    state: directory
    owner: "{{ linux_vaultwarden_user }}"
    group: "{{ linux_vaultwarden_user }}"
    mode: "0751"

- name: Ensure Vaultwarden systemd unit is present
  become: true
  ansible.builtin.template:
    src: etc/systemd/system/vaultwarden.service.j2
    dest: /etc/systemd/system/vaultwarden.service
    owner: root
    group: root
    mode: "0640"
  register: vaultwarden_service
  notify: Reload systemd

- name: Execute all notified handlers immediately
  ansible.builtin.meta:
    flush_handlers
